USE [master]
GO
/****** Object:  Database [nhasach]    Script Date: 10/27/2022 2:42:40 AM ******/
CREATE DATABASE [nhasach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nhasach', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\nhasach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nhasach_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\nhasach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nhasach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nhasach]
GO
/****** Object:  Table [dbo].[khach-hang]    Script Date: 10/27/2022 2:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach-hang](
	[id] [int] NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_khach-hang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 10/27/2022 2:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[id] [int] NOT NULL,
	[tenSach] [nvarchar](50) NULL,
	[giaBan] [float] NULL,
	[namXuatBan] [nvarchar](50) NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sach] ([id], [tenSach], [giaBan], [namXuatBan]) VALUES (1, N'LapTrinh', 5000, N'2012')
INSERT [dbo].[sach] ([id], [tenSach], [giaBan], [namXuatBan]) VALUES (2, N'ten sach2', 10000, N'2016')
INSERT [dbo].[sach] ([id], [tenSach], [giaBan], [namXuatBan]) VALUES (3, N'LapTrinhJava', 4000, N'2100')
GO
USE [master]
GO
